:root {
}

audio {
  display: block;
  margin-bottom: 20px;
}

button {
  font-size: i.3rem;
  border-radius: 12px;
  padding: 8px;
  cursor: pointer;
  background-color: antiquewhite;
}

button:hover {
  scale: 0.9;
}

video {
  width: 600px;
  height: 400px;
}
