:root {
  --primary-bg-color: #f4f4f4;
  --text-color: #333;
  --main-bg-color: #333;
  --main-text-color: #fff;
  --main-btn-bg-color: #938989;
}

/* body,
h1,
p,
ul {
  margin: 0;
  padding: 0;
} */

body {
  overflow-y: scroll;
  background-color: #010101;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Add additional styles as needed */

/* Create a container for the main content */
.container {
  max-width: 1000px;
  width: 100%;
  padding: px;
}

/* Header styling */
/* header {
    color: #d0d9d6;
height: 50px;
    text-align: center;
    font-family: Arapey;
    font-size: 40px;
    font-style: italic;
    font-weight: 400;
    line-height: 75px;
    letter-spacing: -3px;

} */

/* Navigation styling */

.navbar-home {
  width: 100%;
  padding: 40px;
  justify-content: center;
  padding-left: 250px;
  padding-right: 250px;
}

.navbar-home ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 40px;
  padding-left: 100px;
  padding-right: 100px;
}

nav a {
  text-decoration: none;
  font-family: "Asta Sans";
  font-weight: 800;
  line-height: normal;
  letter-spacing: -3px;
  display: flex;
  cursor: pointer;
}

.home a {
  /* width: fixed 100px;
  height: fixed 48px;
  top: 100px;
  left: 394px;
  font-family: "Asta Sans"; 
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -4px; */
  color: #d0d9d6;
  font-size: 40px;
}

.music a,
.library a {
  /* width: fixed 78px;
  height: fixed 38px;
  top: 105px;
  left: 717px;
  justify-content: center;
  font-family: "Asta Sans";
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -3.2px; */
  color: rgba(208, 217, 214, 0.75);
  font-size: 32px;
}

/* Media player styling */
.title {
  height: 100px;
  display: flex;
  flex-direction: column;
  /* so the slogan is right under the title */
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}
.Reverie {
  color: #d0d9d6;
  font-family: "Arapey", serif;
  font-size: 170px;
  font-style: italic;
  font-weight: 400;
  line-height: 75px;
  letter-spacing: -17px;
}

.slogan {
  color: #d0d9d6;
  font-family: "Asta Sans";
  font-weight: 800;
  letter-spacing: -1px;
  text-align: center;
  margin-top: 20px;
}

.listenbtn {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 208px;
  height: 54px;
  margin: 30px;
  padding: 8px 35px;
  border: none;
  outline: none;
  background-color: #c1050c;
  border-radius: 17px;
  font-family: "Asta Sans";
  font-weight: 800;
  font-size: 32px;
  letter-spacing: -3.2px;
}

.listenbtn,
.listenbtn:visited,
.listenbtn:hover,
.listenbtn:active {
  color: white;
  text-decoration: none;
}
.vinyl {
  width: 807px;
  height: 807px;
  aspect-ratio: 1/1;
  border-radius: 807px;
  border: 300px solid rgba(193, 5, 12, 0.8);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}

/* .ring {
    width: 727px;
    height: 727px;
    border-radius: 727px;
    position: absolute;
    border: 1px solid #300002;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-image: linear-gradient(
        to right,
        #300002,
        #63C2EE,
        #300002
    ) 1;
} */

.ring1 {
  width: fixed 427px;
  height: fixed 427px;
}
.media-player {
  width: 100%;
  margin: 0 auto;
}

.media-player video {
  max-width: 100%;
}

.custom-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 10px;
  width: 100%;
}
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Asta Sans";
  flex-wrap: wrap;
  padding: 100px;
  margin-top: 400px;
}
