.page {
  position: relative;
}
html,
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* so that the vinyl stays in the corner with a part of it cut off */
  max-width: 100%;
  background: 
  /* i used layered gradients to create a more immersive and fluid background */
    radial-gradient(circle at 20% 20%, #921a1a, transparent 40%),
    radial-gradient(circle at 80% 30%, #520305, transparent 40%),
    radial-gradient(circle at 50% 80%, #c85f63, transparent 25%),
    radial-gradient(circle at 50% 80%, #820307, transparent 45%),
    linear-gradient(135deg, #c1050c, #520305, #750408);
  /* added different shades of red instead of one shade of bright red to create an immersive experience */
  background-size: 200% 200%;
  /* made the background bigger so that it allows the gradient to shift over time for smoother movement */
  animation: swirlMove 20s ease-in-out infinite;
  /* used slow animation to make an ambient motion  */
}
* {
  box-sizing: border-box;
  max-width: 100%;
}
@keyframes swirlMove {
  /* to control how the gradient moves */
  0% {
    background-position: 0% 50%;
    /* starting position, starts moving from the left side cetered vertically */
  }
  50% {
    background-position: 100% 50%;
    /* midpoint, gradient shifts fully to the right creating the drifting effect */
  }
  100% {
    background-position: 0% 50%;
    /* in the end position it return to the starting point to create a seamless loop */
  }
}
header {
  margin-right: 700px;
  color: #d0d9d6;
  font-family: Arapey;
  font-size: 70px;
  font-style: italic;
  font-weight: 400;
  line-height: 75px;
  letter-spacing: -7px;
  display: flex;
  justify-content: center;
}

.navbar-music {
  /* container for nav bar */
  padding: 20px;
  padding-left: 50px;
  /* positions nav bar on the left side of the layout */
  justify-content: center;
  margin-right: 700px;
}

.navbar-music ul {
  display: flex;
  justify-content: space-between;
  /* for even gaps between tabs */
  align-items: center;
  /* so that it's centered vertically */
  list-style: none;
  /* for a horizontal navigation layout */
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  /* to remove the underlines */
  font-family: "Asta Sans";
  font-weight: 800;
  line-height: normal;
  letter-spacing: -3px;
  display: inline-block;
  /* to maintain horizontal alignment */
  cursor: pointer;
}

.music a {
  color: #210001;
  font-size: 40px;
  /* highlight styling for active page tab */
}

.home a,
.library a {
  color: rgba(36, 0, 1, 0.75);
  font-size: 32px;
}

.vinyl-container {
  position: absolute;
  /* to allow the cut-off effect */
  right: -140px;
  top: -200px;
  /* positions the vinyl on the top right */
  display: flex;
  width: 800;
  margin-left: auto;
}
#lyrics-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* centered overlay on top of the vinyl displaying synced lyrics */

  font-family: "Asta Sans";
  font-weight: 500;
  color: rgba(208, 217, 214, 0.75);

  font-size: 28px;
  text-align: center;

  opacity: 0;
  /* allowing a fade-in effect */
  transition: opacity 0.25s ease;
  pointer-events: none;
  /* making the element not clickable or interactive */
}
.vinyl-song {
  /* container of song name and artist name */
  position: absolute;
  bottom: 94px;
  width: 60%;
  left: 50%;
  transform: translateX(-50%);
  /* to make the anchor point of the element in the center of the element */
  display: flex;
  flex-direction: column;
}

.vinyl-album {
  max-width: 807px;
  animation: vinyl-spin 8s linear infinite;
  /* making the vinyl spin and loop the spins smoothly to make it look continuous */
  animation-play-state: paused;
  /* making the default state paused */
}

.vinyl-album.play {
  animation-play-state: running;
  /* make the animation start in the state of "play" */
}

@keyframes vinyl-spin {
  /* declaring the "vinyl-spin" keyframe */
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
    /* creating a full rotation for a smooth loop */
  }
}

.song-name {
  color: #d0d9d6;
  text-align: center;
  font-family: Arapey;
  font-size: 96px;
  font-style: italic;
  font-weight: 400;
  line-height: 75%;
  letter-spacing: -9.6px;
}

.artist-name-vinyl {
  color: #d0d9d6;
  font-family: "Asta Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -2.4px;
  width: fit-content;
  align-self: center;
  /* aligning the element to center of the flexbox containing it */
}

#album-container {
  margin-right: 700px;
  padding: 70px;
  /* keeping the album and artist name to the left side of the screen */
}

.albumname {
  color: #d0d9d6;
  text-align: left;
  font-family: Arapey;
  font-size: 128px;
  font-style: italic;
  font-weight: 400;
  line-height: 75px;
  letter-spacing: -12.8px;
}

.artistname {
  color: #d0d9d6;
  font-family: "Asta Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -3.2px;
}

#tracklist {
  padding-left: 70px;
  /* leaving breathing space */
  justify-content: start;
  /* keeping it on the left side of the screen */
}

.tracklist {
  mix-blend-mode: darken;
  /* making the color more cohesive and improving contrast */
  color: #300002;
  font-family: "Asta Sans";
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -6.4px;
}

.list {
  color: #300002;
  font-family: Arapey;
  font-size: 40px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -4px;
  padding-left: 30px;
  cursor: pointer;
  /* indicating clickability */
}
.list.active {
  color: #d0d9d6;
  /* highlighting current song */
}

.audio-track-container {
  justify-content: center;
  background: #300002;
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
  /* i applied a margin auto to center the element horisontally within the parent container by distributing equal space on all sides */
  margin-top: 45px;
  width: 93%;
  /* to give breathing space on both sides */
  height: 5px;
}

.progress {
  background-color: #d0d9d6;
  /* highlighting progress with a color higher in contrast */
  width: 0%;
  height: 5px;
  border-radius: 4px;
  transition: width 0.2s linear;
  /* making the movement when skipping through the progress bar smooth instead of a jumpy movement */
}

#progress-bar::-webkit-slider-thumb {
  width: 31px;
  height: 31px;
  margin-bottom: 20px;
  border-radius: 50%;
  /* i switched back to the default slider even tho it is not visible at all in the web page because the range input provides a stable structure as it helped keep the progress bar and controls aligned and centered, and removing it caused layout issues */
}
.timestamp-controls {
  /* container of time stamps and controls */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
  margin-top: 40px;
  flex-direction: row;
  height: 70px;
  /* removing it made some elements go slightly out of line */
}

#current-con {
  display: flex;
  width: fit-content;
}

#current {
  color: #fff;

  font-family: "Anonymous Pro";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.6px;
  margin-left: 50px;
}

#duration-con {
  display: flex;
  width: fit-content;
}

#duration {
  width: fit-content;
  color: #fff;
  justify-content: flex-end;
  display: inline;
  font-family: "Anonymous Pro";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.6px;
  margin-right: 50px;
}

.controls {
  display: flex;
  justify-content: center;

  align-items: center;
  gap: 20px;
  flex: 0 0 auto;
  width: 200px;
}
#play-pause-button {
  background: none;
  border: none;
  justify-content: center;
  bottom: 15px;
  cursor: pointer;

  /* left: 50%;
  transform: translateX(-50%); */
}

#previous-button {
  background: none;
  border: none;
  justify-content: start;
  cursor: pointer;

  /* left: 50%;
  transform: translateX(-50%); */
}

#next-button {
  background: none;
  border: none;
  justify-content: end;
  cursor: pointer;

  /* left: 50%;
  transform: translateX(-50%); */
}
