.navbar {
  padding: 40px;
  display: flex;
  justify-content: center;
}
/* nav {
    width: 718px;
    height: 48px;
    margin-top: 20px;
    text-align: center; 
} */
.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 220px;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  font-family: "Asta Sans";
  font-weight: 800;
  line-height: normal;
  letter-spacing: -3px;
  display: inline-block;
  cursor: pointer;
}
